@import url(https://fonts.googleapis.com/css?family=Raleway);
body,html{
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.main .row{
	padding: 0px;
	margin: 0px;
}
span.glyphicon {
	font-size: 1.4em !important;
	padding-right:22px;
}
nav a{
	color:#32CD32;
	
	
}
#summmary p{
color:#fff;
}
#cards{
background-color:#1A1C1F;
padding-bottom:50px;

}
nav.sidebar.navbar {
	border-radius: 0px;
	background: black;
	z-index:200;
	font-family:Raleway;
	color: #32CD32 !important;
}
.navbar-brand{
	color:#32CD32;
}
.login{
	text-align:left;
	border-radius:0px;
}
.navbar-nav .open .dropdown-menu>li>a:hover {
		color: #35acdf;;
	}
nav.sidebar, .main{
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

.dropdown-toggle.active{
	background-color:#1a1a1a;
	
}
@media only screen and (max-width: 768px) {
.logo {
	display: none; !important
}

.navbar{
	position:fixed;
	width:100%;
}
.main{
padding-top:20px;
}}
@media (min-width: 768px) {
	.main{
		position: absolute;
		width: calc(100% - 75px);
		margin-left: 75px;
		float: right;

	}
	.logo{
		opacity:0.0;
	}

.navbar:hover .logo{ 
opacity:1.0; 
}


	.navbar-brand{
		margin-top:20px;
		margin-bottom:20px;	
		opacity:0.0;
		
	}

.navbar:hover .navbar-brand{ 
opacity:1.0; 
}

	nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}

	nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
	nav.sidebar a{
		padding-right: 11px;
	}

	nav.sidebar .navbar-nav > li:first-child{
		border-top: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav > li{
		border-bottom: 1px #e5e5e5 solid;
	}
	nav.sidebar .navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
		padding: 0 0px 0 0px;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		color: #35acdf;;
	}
	nav.sidebar{
		width: 215px;
		height: 100%;
		margin-left: -130px;
		float: left;
		z-index: 8000;
		margin-bottom: 0px;
		position:fixed;
	}
	nav.sidebar li {
		top: 50%;
		width: 100%;
		display:block;
		
	}
	nav.sidebar:hover{
		margin-left: 0px;
	}
	.forAnimate{
		opacity: 0;
	}
}



/* Preloader */

.preloader {
position: fixed;
z-index: 9999;
width: 100%;
height: 100%;
background-color: white;
}

.preloader img {
position: absolute;
top: calc(50% - 100px);
left: calc(50% - 100px);
}

.preloader div {
display: none;
}

/* Typography */

p {
color: #8a8e91;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Raleway', sans-serif;
position: relative;
margin: 10px 0;
}

h1 {
font-size: 60px;
}

h2 {
font-size: 48px;
}

h3 {
font-size: 30px;
}

h4 {
font-size: 24px;
}

h5 {
font-size: 18px;
}

h6 {
font-size: 16px;
}

header {
position: relative;
width: 100%;
color: white;
background: rgba(28, 36, 65, 0.93);
background: url('/images/Header-Image.jpg') no-repeat center;
background-size: cover;
}

header .table {
display: table;
height: 100%;
}

header .container {
height: 100%;
}

header .header-text {
display: table-cell;
text-align: center;
vertical-align: middle;
color: white;
}

header .typed {
display: inline-block;
margin: 0;
}

header .typed-cursor {
font-size: 60px;
display: inline-block;
margin: 0 10px;
color: #00a8ff;
-webkit-animation-name: flash;
animation-name: flash;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}

a {
text-decoration: none;
color: #ddd;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
/* Blink Cursor */

.blink {
position: relative;
top: 4px;
display: inline-block;
width: 4px;
height: 50px;
height: 5vh;
margin: 0 10px;
}
.container {
position: relative;
z-index: 1;
}
/* Sections */
section {
position: relative;
}

.section {
padding: 40px 0;
background: #fff;
}

.section-padded {
padding: 140px 0 40px;
}

.intro-tables {
top: -130px;
position: relative;
}
.intro-table p{
font-size:16px;

}
.intro-table li{
font-size:16px;

}
.intro-table {
-webkit-background-size: cover;
background-size: cover;
background-repeat: repeat;
background-position: 0% 0%;
border-radius: 18px;
}

.intro-table-first {
background-image: url('/images/Table-1.jpg');
}

.intro-table-hover {
-webkit-transition: background-image 0.3s ease, background-position 0.3s;
transition: background-image 0.3s ease, background-position 0.3s;
background-image: url('/images/Table-2.jpg');
}

.intro-table-hover h6 {
-webkit-transform: translateY(170px);
transform: translateY(170px);
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
}

.intro-table-hover:hover {
background-image: url('/images/Table-2-Hover.jpg');
background-position: 50% 50%;
}

.intro-table-third {
background-image: url('/images/Table-3.jpg');
}

.intro-table-hover .expand {
margin: 30px;
margin-top: 120px;
opacity: 0;
-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
transition: transform 0.3s ease, opacity 0.3s;
-webkit-transform: scale(0.6);
-ms-transform: scale(0.6);
transform: scale(0.6);
}

.intro-table-hover:hover h6 {
-webkit-transform: translateY(0);
transform: translateY(0);
}

.intro-table-hover:hover .expand {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.intro-table-hover .hide-hover {
-webkit-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
opacity: 0;
}

.intro-tables .intro-table {
position: relative;
width: 100%;
height: 300px;
margin: 20px 0;
}

.intro-tables .intro-table .heading {
margin: 0;
padding: 30px;
}

.intro-tables .intro-table .small-heading {
margin: 0;
padding: 0 30px;
}

.intro-tables .intro-table .bottom {
position: relative;
padding-top:25px;


}

.intro-tables .intro-table .owl-schedule .schedule-row {
padding: 10px 30px;
color: white;
transition: all 0.3s ease;
}
.owl-schedule .schedule-row:not(:last-child) {
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.owl-testimonials .author {
margin-top: 50px;
}


.dotstyle ul {
position: relative;
display: inline-block;
margin: 0;
padding: 0;
list-style: none;
cursor: default;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.dotstyle li {
position: relative;
display: block;
float: left;
margin: 0 16px;
width: 16px;
height: 16px;
cursor: pointer;
margin-top:80px;
}

.dotstyle li a {
top: 0;
left: 0;
width: 100%;
height: 100%;
outline: none;
border-radius: 50%;
background-color: #fff;
background-color: rgba(255, 255, 255, 0.3);
text-indent: -999em; /* make the text accessible to screen readers */
cursor: pointer;
position: absolute;
}

.dotstyle li a:focus {
outline: none;
}

/* Individual styles and effects */

/* Fill up */

.dotstyle-fillup li a {
overflow: hidden;
background-color: transparent;
box-shadow: inset 0 0 0 2px white;
-webkit-transition: background 0.3s ease;
transition: background 0.3s ease;
opacity:0.7;
}

.dotstyle-fillup li a::after {
content: '';
position: absolute;
bottom: 0;
height: 0;
left: 0;
width: 100%;
background-color: #fff;
box-shadow: 0 0 1px #fff;
-webkit-transition: height 0.3s ease;
transition: height 0.3s ease;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
background-color: rgba(0, 0, 0, 0.2);
}

.dotstyle-fillup li.current a::after {
height: 100%;
}
.dotstyle-tooltip li {
border: 2px solid #fff;
border-radius: 100%;
z-index: 1;
-webkit-transition: border-color 0.3s ease;
transition: border-color 0.3s ease;
}

.dotstyle-tooltip li a {
top: auto;
bottom: 250%;
left: 50%;
visibility: hidden;
padding: 0 10px;
width: auto;
height: auto;
border-radius: 0;
background-color: #c44d48;
color: #fff;
text-decoration:none;
text-indent: 0;
line-height: 2;
opacity: 0;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}
.fullarticle{
display: none;

}

.dotstyle-tooltip li a::after {
position: absolute;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border: solid transparent;
border-width: 10px;
border-color: transparent;
border-top-color: #c44d48;
content: '';
pointer-events: none;
top: 99%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
z-index: 100;
visibility: visible;
opacity: 1;
-webkit-transform: translateX(-50%) translateY(0%);
transform: translateX(-50%) translateY(0%);
-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
border-color: #c44d48;
}

.dotstyle-tooltip li:hover {
z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
opacity: 1;
}
.ripple-effect {
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
background: white;
-webkit-animation: ripple-animation 2s;
animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
from {
	opacity: 0.2;
	-webkit-transform: scale(1);
	transform: scale(1);
}
to {
	opacity: 0;
	-webkit-transform: scale(100);
	transform: scale(100);
}
}

@keyframes ripple-animation {
from {
	opacity: 0.2;
	-webkit-transform: scale(1);
	transform: scale(1);
}
to {
	opacity: 0;
	-webkit-transform: scale(100);
	transform: scale(100);
}
}

.events {
margin: 40px 0;
}

.highlight {
width: 100%;
height: 370px;
margin: 80px 0;
text-align: center;
border: 1px solid #ddd;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
border-radius: 18px;
}

.highlight .icon-holder {
position: relative;
top: 100px;
display: inline-block;
margin-bottom: 40px;
padding: 10px;
background: white;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.highlight .heading {
position: relative;
top: 80px;
-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.highlight .icon-holder > img.icon {
width: 55px;
}

.highlight:hover {
border-color: #00a8ff;
}

.highlight:hover .icon-holder {
top: -30px;
}

.highlight:hover .heading {
top: -30px;
}

.highlight .description {
width: 80%;
margin: 0 auto;
opacity: 0;
-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
}

.highlight:hover .description {
opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.team {
margin: 80px 0;
padding-bottom: 60px;
background: white;
box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
height: 250px;
padding-top: 60px;
opacity: 0;
background: rgba(0, 168, 255, 0.9);
-webkit-transition: opacity 0.45s ease;
transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
opacity: 1;
}

.team .avatar {
position: relative;
z-index: 2;
margin-top: -60px;
border-radius: 50%;
}

.team .title {
margin: 50px 0;
}
#event {
background-color: #33888F;
position: relative;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.comingsoon{
position: relative;
top: 50%;
transform: translateY(-50%);

}
#event h2 ,#sponsor h2{
color: #FFFFFF;
font-size: 36px;
font-weight: 300;
margin-top: 70px;
text-transform: uppercase;
}
#event h3, #sponsor h3{
margin:20px 0;
color: #FFFFFF;

}
.single-event {
margin-bottom: 70px;
}

.single-event h4 {
color: #FFFFFF;
font-size: 24px;
font-weight: 300;
line-height: 26px;
margin-top: 25px;
text-transform: uppercase;
}


.single-event h5 {
font-size: 18px;
font-weight: 100;
display: block;
}


#sponsor {
background-color: #1881a2;
background-image: url("/images/sponsor-bg.jpg");
background-position:50% 0;
background-size: cover;
background-repeat:no-repeat;
position: relative;
}

.speaker {
position: absolute;
right: 0;
bottom: 0;
}

.map-responsive iframe{
width: 100%;
display: block;
pointer-events: none;
position: relative; /* IE needs a position other than static */
}
.map-responsive iframe.clicked{
pointer-events: auto;
}
/* Contact
---------------------------------*/
.main-section.contact{
padding:50px 0 100px;
}

.main-section.contact{
background:url(/images/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
font-size:15px;
margin:0 0 14px 68px;
padding-left:0;
}
.contact-info-box h3{
font-size: 15px;
font-weight:400;
float:left;
width:102px;
margin-right:12px;
line-height:28px;
color:#222222;
text-transform:uppercase;
}
.contact-info-box h3 i{
font-style:normal;
font-size:15px;
color:#222222;
font-weight:normal;
margin-right:7px;
line-height:28px;
}
.contact-info-box span{
line-height:28px;
display:block;
overflow:hidden;
font-size:15px;
font-weight:normal;
color:#888888;
}
.social-link{
padding:35px 0;
margin:0 0 0 68px;
display:block;
overflow:hidden;
list-style:none;
}
.social-link li{
float:left;
margin-right:8px;
}
.social-link li a{
display:block;
width:50px;
height:50px;
text-align:center;
line-height:50px;
font-size:25px;
color:#fff;
background:#222222;
border-radius:50%;
transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
text-decoration:none;
}
.twitter a:hover {
background: #55acee;
}
.facebook a:hover {
background: #3b5998;
}

.linkedin a:hover {
background: #3b5998;
}
.gplus a:hover {
background: #dd4b39;
}
.form{
margin:0 66px 0 30px;
}
.input-text{
padding:15px 16px;
border:1px solid #ccc;
width:100%;
height:50px;
display:block;
border-radius:4px;
font-size:15px;
color:#aaa;
font-family: 'Open Sans', sans-serif;
margin:0 0 15px 0;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
border: 1px solid #7cc576;
outline:0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
height:120px;
resize:none;
overflow:auto;
}
.input-btn{
width:175px;
height:50px;
background:#7cc576;
border-radius:4px;
color:#ffffff;
font-size:14px;
text-transform:uppercase;
font-family: 'Montserrat', sans-serif;
font-weight:400;
border:0px;
transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
background: #111;
color: #fff;
}

.validation {
color: red;
display:none;
margin: 0 0 20px;
font-weight:400;
font-size:13px;
}

#sendmessage {
color: #7cc576;
border:1px solid #7cc576;
display:none;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}

#errormessage {
color: red;
display:none;
border:1px solid red;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
display:block;
}
.footer{
background:#000000;;
padding: 2%;
color: white;
}
#footer{
padding-left: 2%;
width: 100%;
padding-right: 0;
margin-right: 0;
}
/* Colors */

.white {
color: white;
}

.light-white {
color: rgba(255, 255, 255, 0.5);
}

.white-bg {
background: white;
}

.gray-bg {
background: #f7f7f7;
}

.blue {
color: #00a8ff;
}

.blue-bg {
background: #00a8ff;
}

.muted {
color: #989da0;
}

.margin-top {
margin-top: 150px;
}

@media(max-width:992px) {
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}
.section {
	padding: 30px 0;
}
.main{
padding-top:25px;	
}
 
}

/* Media Queries */

@media(max-width:991px) {
.text-center-mobile {
	text-align: center !important;
}
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.JesterBox div {
	visibility: hidden;
	position: fixed;
	top: 5%;
	right: 5%;
	bottom: 5%;
	left: 5%;
	z-index: 75;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .JesterBox div:before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 74;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.5s ease-out;
  }
  
  .JesterBox div img {
	position: relative;
	z-index: 77;
	max-width: 100%;
	max-height: 100%;
	margin-left: -9999px;
	opacity: 0;
	transition-property: all, opacity;
	transition-duration: 0.5s, 0.2s;
	transition-timing-function: ease-in-out, ease-out;
  }
  
  .JesterBox div:target { visibility: visible; }
  
  .JesterBox div:target:before { background-color: rgba(0, 0, 0, 0.7); }
  
  .JesterBox div:target img {
	margin-left: 0px;
	opacity: 1;
  }