@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:800|Sunflower:300,700');
* {
  padding: 0;
  margin: 0;
  font-family: 'Sunflower', sans-serif;
}

body {
  background: url("/images/cover2.jpg") top right;
}

.message h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media(max-width: 575px) {
  body {
    background-size: cover;
    height: 100vh;
    position: relative;
    font-size: 90%;
    overflow: hidden;
  }
  .message {
    color: white;
    padding-left: 1em;
    margin-top: 5em;
  }
  .message h1 {
    font-weight: bold;
    font-size: 5em;
    line-height: .9em;
    font-family: 'Merriweather Sans', sans-serif;
  }
  .message h3 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em !important;
  }
  .message p {
    text-align: center;
    font-size: 1.25em;
  }
  .social-links {
    text-align: center;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
  }
  .social-links a {
    display: inline-block;
    color: white;
    margin: 1em;
    /* margin-top: 4em; */
  }
}

@media (min-width: 576px) {
  body {
    background-size: cover;
    height: 100vh;
    position: relative;
    font-size: 125%;
  }
  .left-space {
    width: 100vh;
  }
  .message {
    color: white;
  }
  .message h1 {
    font-weight: bold;
    font-size: 5em;
    font-weight: bold !important;
    line-height: .9em;
    font-family: 'Merriweather Sans', sans-serif;
  }
  .message h3 {
    font-size: 2em;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding-bottom: 2em;
  }
  .social-links a {
    display: inline-block;
    color: white;
    margin: .5em 3em;
  }
}