
#speaker{
	background-color:#c44d48;
	color:#fff;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}


.card {
	position: relative;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(163,125,125,1);
	-moz-box-shadow: 0px 2px 3px 0px rgba(163,125,125,1);
	box-shadow: 0px 2px 3px 0px rgba(163,125,125,1);
	border-radius: 20px;
	margin-bottom:20px;
	margin-top:20px;
	height:420px;
	background-color:white;
	width:300px;
	margin: 0 auto;
	margin-top:50px;
}
.card-block {
    font-size: 1em;
    position: relative;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
	position:relative;
    display: block;
    width: 100%;
    height: 280px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.card-text {
	margin-left:2px;
	margin-right:2px;
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}


.card-content{
  opacity: 1;
  transition: .5s ease;
}

